    


/* forms blocks */
.forms_block {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #e0e0e0;
}
.forms_block_submitted {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #e3e3cf;
}




/* form fields */
.input_container {
    margin-bottom: 9px;
}
.form_horizontal .input_container {
    margin-bottom: 9px;
}
.form_horizontal .input_container:after { clear: both; }
.form_horizontal .input_container:before { display: table; content: ""; }
.form_horizontal .input_container:after { display: table; content: ""; }





/* form labels */
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}

.form_horizontal .form_label {
    float: left;
    width: 140px;
    padding-top: 5px;
    text-align: right;
}



/* form inputs */
.form_horizontal  .form_field {
    margin-left: 160px;
}

.form_error {
    margin-top: 5px;
    padding: 5px 10px;
    color: #870217;
    background-color: #ffe3e3;
}

input, textarea, select {
    display: block;
    padding: 4px;
    margin-bottom: 9px;
    color: #555;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #CCC;
    background-color: white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.form_horizontal input, .form_horizontal textarea, .form_horizontal select {
    margin-bottom: 0px;
}

input {
    width: 99%;
}
textarea {
    width: 99%;
    height: 100px;
}
select {
    max-width: 98%;
}



/* textual forms elements */
.input_heading {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
}



/* form buttons */
.form_horizontal .form_actions {
    margin-left: 160px;
    margin-bottom: 18px;
}

.btn {
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    color: #333333;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover {
    color: #333333;
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
       -moz-transition: background-position 0.1s linear;
        -ms-transition: background-position 0.1s linear;
         -o-transition: background-position 0.1s linear;
            transition: background-position 0.1s linear;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn.active, .btn:active {
    background-color: #e6e6e6;
    background-color: #d9d9d9 \9;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled, .btn[disabled] {
    cursor: default;
    background-color: #e6e6e6;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

