

/****** PAGES ******/
.pages_index {}

.pages_index_table {
    width: 100%;
    margin-bottom: 18px;
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.pages_index_table thead th {
    color: #fff;
    font-weight: bold;
    vertical-align: bottom;
    background-color: #999;
}
.pages_index_table th,
.pages_index_table td {
    padding: 8px;
    text-align: left;
    line-height: 18px;
    vertical-align: top;
    border-top: 1px solid #DDD;
}
.pages_index_table tbody tr:nth-child(odd) td {
    background-color: #F9F9F9;
}
