

/****** blogs landing page ******/
.blogs_landing {}
.blogs_landing .blogs_post {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #e0e0e0;
}
.blogs_landing .blogs_post_name {}
.blogs_landing .blog_post_name h2 {}
.blogs_landing .blogs_post_date {
    margin-bottom: 5px;
    font-size: 1.1em;
}
.blogs_landing .blogs_post_content {
    margin-bottom: 10px;
}
.blogs_landing .blogs_post_link {}



/****** individual blog post ******/
.blogs_view {}
.blogs_view .blogs_post {
    padding: 5px;
    background-color: #e0e0e0;
}
.blogs_view .blogs_post_name {}
.blogs_view .blog_post_name h2 {}
.blogs_view .blogs_post_date {
    margin-bottom: 5px;
    font-size: 1.1em;
}
.blogs_view .blogs_post_content {}
    



/****** blog blocks ******/
.blogs_blog_block {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #e0e0e0;
}
.blogs_blog_full {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #EEE8AA;
}
.blogs_subscribe_block {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #e0e0e0;
}
.blogs_categories_block {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #e0e0e0;
}
.blogs_recent_block {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #e0e0e0;
}
.blogs_recent_block2 {
    margin-bottom: 20px;
    padding: 5px;
    color: #fff;
    background-color: #51A351;
}
.blogs_recent_block2 a {
    color: #fff !important;
}



/****** pagination ******/
.blogs_paginate {
    margin-bottom: 20px;
    padding: 5px;
    background-color: #e0e0e0;
}
.blogs_paginate_older {
    float: left;
}
.blogs_paginate_newer {
    float: right;
}

