

/****** CONTENT ******/
html, body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	color: #292929;
	font-size: 13px;
	line-height: 1.3;
	font-family: Arial, sans-serif;
	background-color: #ddd;
}

a {
	color: #0066cc;
	cursor: pointer;
	text-decoration: none;
}
a:visited {
	color: #0066cc;
}
a:hover {
	color: #0066cc;
	text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, table {
	margin: 0 0 1em 0;
}

h1, .h1 {
	margin-bottom: 0.5em;
	font-size: 1.61538em; /* 21px / 13px */
	font-weight: bold;
}
h2, .h2 {
	margin-bottom: 0.5em;
	font-size: 1.53846em; /* 20px / 13px */
	font-weight: bold;
}
h3, .h3 {
	margin-bottom: 0.5em;
	font-size: 1.15385em; /* 15px / 13px */
	font-weight: bold;
}
h4, .h4 {
	font-size: 1em; /* 13px / 13px */
	font-weight: bold;
}
h5, .h5 {
	margin-bottom: 0;
	font-size: 0.92308em; /* 12px / 13px */
	font-weight: bold;
}
h6, .h6 {
	margin-bottom: 0.5em;
	color: #917122;
	font-size: 0.76923em; /* 10px / 13px */
}




/****** CONTAINER ******/
#container {
	width: 1000px;
	margin: 20px auto;
}

@media only screen and (max-width: 1000px) {
    #container {
        width: 100%;
    }
}




/****** HEADER ******/
#header {
	width: 100%;
    background-color: #fff
}
#header_content {
    padding: 10px;
}

#header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
}
#header ul li {
    display: inline;
    margin-right: 10px;
}




/****** MAIN ******/
#main {
	width: 100%;
    background-color: #fff;
}

#main_content {
    margin: 1px 20px;
    padding: 20px 0;
}




/****** GRID SYSTEM ******/
.row {
    width: 100%;
    margin-left: 0%;
    margin-bottom: 2%; /* 20px */
}
.row:after { clear: both; }
.row:before, .row:after { display: table; content: ""; }

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    float: left;
    margin-left: 2%; /* 20px */
    background-color: #f0f0f0;
}

.span1:first-child, .span2:first-child, .span3:first-child, .span4:first-child { margin-left: 0%; }
.span5:first-child, .span6:first-child, .span7:first-child, .span8:first-child { margin-left: 0%; }
.span9:first-child, .span10:first-child, .span11:first-child, .span12:first-child { margin-left: 0%; }

.span1  { width: 6.4236111111111%; }
.span2  { width: 14.930555555556%; }
.span3  { width: 23.4375%; }
.span4  { width: 31.944444444444%; }
.span5  { width: 40.451388888889%; }
.span6  { width: 48.958333333333%; }
.span7  { width: 57.465277777778%; }
.span8  { width: 65.972222222222%; }
.span9  { width: 74.479166666667%; }
.span10 { width: 82.986111111111%; }
.span11 { width: 91.493055555556%; }
.span12 { width: 100%; }




/****** FOOTER ******/
#footer {
	width: 100%;
    background-color: #fff
}
#footer_content {
    padding: 10px;
}

#footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
}
#footer ul li {
    display: inline;
    margin-right: 10px;
}



