

/****** defaults ******/
html, body {
	height: 100%;
}
body {
    margin: 0;
	padding: 0;
	background-color: #ddd;
}

div.clear {
    clear: both;
}




/****** container ******/
#container {
	width: 1000px;
	margin: 0px auto;
    padding: 20px 0;
}

@media only screen and (max-width: 1000px) {
    #container {
        width: 100%;
    }
}




/****** header ******/
#header {
	width: 100%;
    background-color: #fff
}
#header_content {
    padding: 10px;
}

#header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
}
#header ul li {
    display: inline;
    margin-right: 10px;
}




/****** main ******/
#main {
	width: 100%;
    background-color: #fff;
}

#main_content {
    margin: 1px 20px;
    padding: 20px 0;
}




/****** footer ******/
#footer {
	width: 100%;
    background-color: #fff
}
#footer_content {
    padding: 10px;
}

#footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
}
#footer ul li {
    display: inline;
    margin-right: 10px;
}



