

/****** CONTENT ******/
html, body {
	height: 100%;
}
body {
    margin: 0;
	padding: 0;
	color: #292929;
	font-size: 13px;
	line-height: 1.3;
	font-family: Arial, sans-serif;
	background-color: #ddd;
}

a {
	color: #0066cc;
	cursor: pointer;
	text-decoration: none;
}
a:visited {
	color: #0066cc;
}
a:hover {
	color: #0066cc;
	text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, table {
	margin: 0 0 1em 0;
}

h1, .h1 {
	margin-bottom: 0.5em;
	font-size: 1.61538em; /* 21px / 13px */
	font-weight: bold;
}
h2, .h2 {
	margin-bottom: 0.5em;
	font-size: 1.53846em; /* 20px / 13px */
	font-weight: bold;
}
h3, .h3 {
	margin-bottom: 0.5em;
	font-size: 1.15385em; /* 15px / 13px */
	font-weight: bold;
}
h4, .h4 {
	font-size: 1em; /* 13px / 13px */
	font-weight: bold;
}
h5, .h5 {
	margin-bottom: 0;
	font-size: 0.92308em; /* 12px / 13px */
	font-weight: bold;
}
h6, .h6 {
	margin-bottom: 0.5em;
	color: #917122;
	font-size: 0.76923em; /* 10px / 13px */
}




/****** CONTAINER ******/
#container {
	width: 1000px;
	margin: 0px auto;
    padding: 20px 0;
}

@media only screen and (max-width: 1000px) {
    #container {
        width: 100%;
    }
}




/****** HEADER ******/
#header {
	width: 100%;
    background-color: #fff
}
#header_content {
    padding: 10px;
}

#header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
}
#header ul li {
    display: inline;
    margin-right: 10px;
}




/****** MAIN ******/
#main {
	width: 100%;
    background-color: #fff;
}

#main_content {
    margin: 1px 20px;
    padding: 20px 0;
}




/****** FOOTER ******/
#footer {
	width: 100%;
    background-color: #fff
}
#footer_content {
    padding: 10px;
}

#footer ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    list-style-image: none;
}
#footer ul li {
    display: inline;
    margin-right: 10px;
}



